DIGITALOCEAN_TOKEN=<your DigitalOcean API token>
ROUTER_USER=<some username>
ROUTER_PASS=<some password>
DOCKER_REGISTRY_FQDN=<some a.b.c.domain>
DOCKER_REGISTRY_USER=<some user>
DOCKER_REGISTRY_PASS=<some password>
